In [11]:
import mysql.connector
import pandas as pd
import sqlalchemy
import pymysql
from sqlalchemy import text

user = 'root'
password = 'Abu#%407899#'
host = 'localhost'
port = 3306
database = 'phonepe'

connection = sqlalchemy.create_engine('mysql+pymysql://{0}:{1}@{2}:{3}/{4}'.format(
    user, password, host, port, database
))

In [12]:
sql = text('CREATE TABLE agg_transaction_table (MyIndex INT NOT NULL AUTO_INCREMENT,State INT,Year INT,Quater INT,Payment_Mode VARCHAR(50),Total_Transactions_count BIGINT,Total_Amount BIGINT,PRIMARY KEY (MyIndex))')
connection.execute(sql)
df = pd.read_csv("Data\\aggregated_transaction.csv")
df.to_sql('agg_transaction_table',con=connection, if_exists= "replace",index=False, chunksize=1000)

3594

In [13]:
sql2 = text('CREATE TABLE agg_user_table (MyIndex INT NOT NULL AUTO_INCREMENT,State INT,Year INT,Quater INT,Brand VARCHAR(50),Brand_count BIGINT,Brand_percentage BIGINT,PRIMARY KEY (MyIndex))')
connection.execute(sql2)
df = pd.read_csv('Data\\aggregated_user.csv')
df.to_sql('agg_user_table',con=connection, if_exists= "replace",index=False, chunksize=1000)

6732

In [14]:
sql3 = text('CREATE TABLE map_transaction_table(MyIndex INT NOT NULL AUTO_INCREMENT, State INT, Year INT, Quater INT, District VARCHAR(50), Transaction_count BIGINT, Transaction_amount BIGINT, PRIMARY KEY (MyIndex))')
connection.execute(sql3)
df = pd.read_csv('Data\\Map_transaction.csv')
df.to_sql('map_transaction_table', con = connection, if_exists = "replace", index=False, chunksize=1000)

14636

In [15]:
sql4 = text('CREATE TABLE map_user_table(MyIndex INT NOT NULL AUTO_INCREMENT, State INT, Year INT, Quater INT, District VARCHAR(50), Users BIGINT, PRIMARY KEY(MyIndex))')
connection.execute(sql4)
df = pd.read_csv('Data\\Map_users.csv')
df.to_sql('map_user_table', con=connection, if_exists = 'replace', index = False, chunksize=1000)

14640

In [16]:
sql5 = text('CREATE TABLE top_transaction_table(MyIndex INT NOT NULL AUTO_INCREMENT, State INT, Year INT, Quater INT, District VARCHAR(50), Transaction_count BIGINT, Transaction_amount BIGINT, PRIMARY KEY(MyIndex))')
connection.execute(sql5)
df = pd.read_csv('Data\\Top_transactions.csv')
df.to_sql('top_transaction_table', con = connection, if_exists = 'replace', index = False, chunksize = 1000)

5920

In [17]:
sql6 = text('CREATE TABLE top_user_table(MyIndex INT NOT NULL AUTO_INCREMENT, State INT, Year INT, Quater INT, District VARCHAR(50), Users BIGINT, PRIMARY KEY(MyIndex))')
connection.execute(sql6)
df = pd.read_csv('Data\\Top_users.csv')
df.to_sql('top_user_table', con = connection, if_exists = 'replace', index = False, chunksize = 1000)

5920

In [18]:
sql7 = text('CREATE TABLE district_geo_table(MyIndex INT NOT NULL AUTO_INCREMENT, State INT, District VARCHAR(50), Latitude DOUBLE, Longitude DOUBLE, PRIMARY KEY(MyIndex))')
connection.execute(sql7)
df = pd.read_csv('Data\\Districts_Longitude_Latitude.csv')
df.to_sql('district_geo_table', con = connection, if_exists = 'replace', index = False, chunksize = 1000)

732

In [19]:
sql8 = text('CREATE TABLE state_geo_table(MyIndex INT NOT NULL AUTO_INCREMENT, State VARCHAR(50), Code VARCHAR(50), Latitude DOUBLE, Longitude DOUBLE, PRIMARY KEY(MyIndex))')
connection.execute(sql8)
df = pd.read_csv('Data\\States_Longitude_Latitude.csv')
df.to_sql('state_geo_table', con = connection, if_exists = 'replace', index = False, chunksize = 1000)

36